<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
    {% block title %}
        <title>Основная</title>
    {% endblock %}
</head>


<body>

    <header>

        <div class="welcome">
            <p class="hello">Добрый день, {{ user.first_name }}</p>
            <p class="button-green" href="#">EXIT</p>
        </div>

        <div class="transaction_info">
            <p>Сегодня ты внес "число" расходов на сумму "сумма" рублей</p>
        </div>

        <div class="add_transaction">
            <a href="{% url 'list_of_income_operations' %}" class="income_plus">Привет, бабло</a>
            <a href="{% url 'list_of_spend_operation' %}" class="expense_plus">Пора тратить</a>
        </div>
        
    </header>

    <div class="menu">
        <div class="element_menu">
            <a href="{% url 'main_page' %}">Основная</a>
        </div>

        <div class="element_menu">
            <a href="{% url 'incomes_page' %}">Доходы</a>
        </div>

        <div class="element_menu">
            <a href="{% url 'spend_page' %}">расходы</a>
        </div>
        
    </div>

    {% block content %}

        <div class="block_for_content">
            
            <p class="block_for_content_p">Твои счета</p>
            
            <div class="list_of_content">
                {% for account in accounts %}
                    <div class="element">

                        <div class="element_name">
                            {{ account.name }}
                        </div>
                            
                        <div class="element_amount">
                            {{ account.amount }} руб.
                        </div>

                        <div class="element_delete" title="Отменить действие нельзя">
                            <a href="{% url 'delete_acc' account.id %}">Удалить</a>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="add_element">
            <hr noshade="" color="#005239">
            <a href="{% url 'add_account' %}">Добавить новый счет</a>
        </div>

    {% endblock %}
</body>


</html>