body {
    background-color: rgba(0, 180, 54, 0.521);
}

.main_conteiner {
    height: 100%;
}

.operations_list_conteiner {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: lemonchiffon;
}

.operation_string_conteiner {
    display: flex;
    background-color: lightcoral;
}

.separator_operation_string {
    display: table-row;
    margin: 0;
    border: none;
    height: 1px;
}

.operation_date {
    width: 10%;
}

.operation_article {
    width: 10%;
}

.operation_acount {
    width: 10%;
}

.operation_amount {
    width: 10%;
    text-align: right;
}

.operation_comment {
    width: 60%;
    text-align: right;
}

.creation_operation_form {
    margin-left: 20%;
    margin-right: 20%;
    background-color: lemonchiffon;
}

form {
    display: flex;
}

.operation_date_form {
    width: 10%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0, 180, 54, 0.521);
}

.operation_article_form {
    width: 10%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0, 180, 54, 0.521);
}

.operation_acount_form {
    width: 10%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0, 180, 54, 0.521);
}

.operation_amount_form {
    width: 10%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0, 180, 54, 0.521);
}

.operation_comment_form {
    width: 60%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0, 180, 54, 0.521);
}

.operation_form_button {
    border: 0;
    background-color: rgba(0, 180, 54, 0.521);
}

.pagination {
    position: fixed;
    left: 20%;
    right: 20%;
    bottom: 0px;
    text-align: center;
}

