{% extends 'main/mainpage.html' %}
{% block title %}
    <title>Добавление статьи</title>
{% endblock %}

{% block content %}
    
    <div class="create_element_form">
        <form method="post" action="" class="added_form">
            {% csrf_token %}

                <div class="form_field">
                    {{ add_article }}
                </div>

                <div class="form_button">
                    <input type="submit" value="Create">
                </div>
            
        </form>
    </div>

{% endblock %}