{% extends 'main/mainpage.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/income_and_spend.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %}
    <title>Расходы</title>
{% endblock %}

{% block content %}
    <div class="block_for_content">
                    
        <p class="block_for_content_p">Актуальные категории расходов</p>
        
        <div class="list_of_content">
            {% for category in categories %}
                <div class="element">

                    <div class="special_name">
                        <a href="{% url 'show_article' category.id %}" title="Список статей категории расходов">{{ category.name }}</a>
                    </div>

                    <div class="special_delete" title="Отменить действие нельзя">
                        <a href="{% url 'delete_spend_category' category.id %}">Удалить</a>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="add_element">
        <hr noshade="" color="#005239">
        <a href="{% url 'add_spend_category' %}">Добавить категорию расходов</a>
    </div>
 
{% endblock %}